*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    position: relative;
}
.menu-elemento{
font-family: 'Times New Roman';
display: flex;
padding: 2%;
color: white;
}

.menu-elemento:hover{
    color: brown ;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #020018;
    font-size: 21px;
    
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
   
}



.logo{
    padding: 10px;
    height: 150px;
    width: 200px;
    min-width: 100px;
    min-height: 100px;
}

.logo img {
    border-radius: 50%;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

