*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    position: relative;
}
.menu-elemento{
font-family: 'Times New Roman';
display: flex;

}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}